aiofiles==0.3.2
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==22.1.0
bottom==2.2.0
chardet==3.0.4
colorhash==1.0.2
discord==1.7.3
discord.py==1.7.3
idna==3.3
idna-ssl==1.1.0
multidict==4.7.6
python-dateutil==2.7.3
pytz==2018.4
six==1.16.0
toml==0.9.4
typing_extensions==4.1.1
unit-converter==1.1.0
websockets==3.4
yarl==1.7.2
